
.main-menu li ul { width: 245px; }
.hd .hd-bottom .booking-online { background-image: url(http://www.phoonghung.vn/Sites/PhoOngHung/resources/images/booking-online-en.png); }
.hd .hd-bottom .delivery { background-image: url(http://www.phoonghung.vn/Sites/PhoOngHung/resources/images/home-delivery.png); }